body {  background-color: #f8f9fa; }
/* To jest standardowy kolor "light" z Bootstrapa */

.navbar {
    min-height:40px; font-size:16px; font-weight: bold;
} /* Lekko powiększona i pogrubiona czcionka */

.sekcja1
{	  
	height:auto; width:auto; text-align:left;
	border-color:blue; border-width:1px;
	margin-top:45px; margin-left:5px; margin-right:1px;	margin-bottom:5px;	
}

.page-footer
{
	height:21px; width:auto; font-size:11px; color:blue;
	border:solid; border-width:1px; border-color:blue;
	margin-left:1px; margin-right:1px; margin-bottom:1px;	
}

audio {
    width: 100%;
    min-width: 300px; /* Zapewnia minimalną szerokość */
    height: 40px;     /* Ustawia stałą wysokość */
    border-radius: 20px; /* Ładniejsze rogi */
    outline: none;
}
/* Poprawka dla ciemnego motywu Chrome */
audio::-webkit-media-controls-panel {
    background-color: #f1f3f4;
}