/* GŁÓWNY MOTYW VOD */
body {
    background-color: #141414 !important; /* Netflix Black */
    color: #e5e5e5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* KARTY FILMÓW */
.card {
    background-color: #181818;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    z-index: 10;
}

/* TYTUŁY */
h2, h3, h5.card-title {
    color: #fff;
    font-weight: 700;
}

/* BADGE GATUNKU */
.badge.bg-dark {
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-weight: normal;
}

/* PRZYCISKI */
.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-color: white;
}

/* NAWIGACJA */
.nav-link {
    color: #b3b3b3 !important;
    transition: color 0.2s;
}
.nav-link:hover, .nav-link.active {
    color: #fff !important;
}

/* PLAYLISTY */
.list-group-item {
    background-color: #181818;
    border-color: #333;
    color: #fff;
}
.list-group-item:hover {
    background-color: #2a2a2a;
}